{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--  END HEADER -->
<header id="header">
    <div class="index_header" style="background-image: url({% static 'assets/imgs/bg.JPG' %});">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col text_header">
                        <h1 class="mb-5 text-center" id="heading_title">ما هو GWIA؟</h1>
                        <h4 class="mb-5 text-center" id="heading_desc">هو تطبيق يمكنك من ارسال الرسائل المجهولة عن طريق
                            كود خاص بك
                            تقوم بمشاركته عبر وسائل التواصل الاجتماعي .</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--  END HEADER -->

{% endblock content %}